<div class="title">QR Scan<button class="tap-to-start" (click)="toggleStart()">{{start ? 'Stop' : 'Start'}}</button></div>


<div [class.start]="start" class="scanner">
  <zxing-scanner
    *ngIf="start; else dummy"
    [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"
    (scanSuccess)="onScanSuccess($event)"
  ></zxing-scanner>

  <ng-template #dummy>
    <div class="dummy"></div>
  </ng-template>

  <div class="tool">
    <button [disabled]="!url" (click)="open()">Open</button>
    <button [disabled]="!output" (click)="copy()">Copy</button>
  </div>

  <textarea readonly (focus)="onFocusOutput($event)" rows="3" class="output">{{output}}</textarea>
</div>

